{% extends 'base.html.twig' %}

{% block title %}Stanislas Raczynski{% endblock %}

{% block body %}

<!DOCTYPE HTML>

<html>
	<head>
		<title>Elements - Forty by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a href="{{path("index")}}" class="logo"><strong>Miroslav</strong> <span>Web Dev</span></a>
					</header>


				<!-- Main -->
					<div id="main" class="alt">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h1>Compétences</h1>
									</header>

									<!-- Content -->
										<h2 id="content">Langues Parlées</h2>
										<p>Français courant<br>Anglais bilingue</p>
										<div class="row">
											<div class="col-6 col-12-small">
												<h3>Langages de programmation :</h3>
												<p>
													<ul>
														<li>Langages orientés objets/scripting</li>
														<li style="margin-left:3vw">Java <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star "></span><span class="fa fa-star"></span></li>
														<li style="margin-left:3vw">Python <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span></li>
														<li style="margin-left:3vw">Visual Basic <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span></li></li>
														<li style="margin-left:3vw">Auto Hot Key <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span></li></li>
														<li>Technologies Web</li>
														<li style="margin-left:3vw">HTML/CSS <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></li></li>
														<li style="margin-left:3vw">Symfony <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></li></li>
														<li style="margin-left:3vw">SQL <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></li></li></li>
													</ul>
												</p>
											</div>
											<div class="col-6 col-12-small">
												<h3>Autres : </h3>
												<p><ul>
														<li>Microsoft Word/Excel/PowerPoint/Access</li>
														<li>Adobe Photoshop</li>
														<li>Audacity</li>
													</ul>
												</p>
											</div>
{% endblock %}