{% extends 'base.html.twig' %}

{% block title %}Stanislas Raczynski{% endblock %}

{% block body %}

<!DOCTYPE HTML>

<html>
	<head>
		<title>Elements - Forty by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a href="{{path("index")}}" class="logo"><strong>Miroslav</strong> <span>Web Dev</span></a>
					</header>


				<!-- Main -->
					<div id="main" class="alt">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h1>Stages et Emplois</h1>
									</header>

									<!-- Content -->
										<h2 id="content">Stages :</h2>
											<ul>
												<li>2015 - Stage au Service informatique de Melun</li>
													<li style="margin-left:3vw">Création de tickets sur GLPI, ajout de tâche(s)/suivi(s) et clôture de tickets</li>
													<li style="margin-left:3vw">Installation d'une image W7 Pro via le serveur de la Mairie de Melun</li>
													<li style="margin-left:3vw">Dépannage à distance via Teamviewer</li>
												<li>2018 - Stage au Service informatique de l'université d'Emmanuel College USA</li>
													<li style="margin-left:3vw">Installation de disques SSD, téléphones VOIP et connexion aux serveurs de l'université.</li>
													<li style="margin-left:3vw">Récupération de données utilisateurs</li>
												<li>2020 - Stage au Service informatique du groupe Rexel </li>
													<li style="margin-left:3vw">Développement d'applications mobiles et web via Angular</li>
											</ul>
										<p></p>
										<div class="row">
											<div class="col-6 col-12-small">
												<h2>Emplois :</h2>
												<p>
													<ul>
														<li>Bibliothécaire à la Bibliothèque Universitaire Shaw Leslie</li>
														<li style="margin-left:3vw">Enregistrement de la fréquentation et statistiques</li>
														<li style="margin-left:3vw">Sortie et réintégration des ouvrages dans les rayons</li>
													</ul>
												</p>
											</div>
											<div class="col-6 col-12-small">
												<h3>Autres : </h3>
												<p><ul>
														<li>Microsoft Word/Excel/PowerPoint/Access</li>
														<li>Adobe Photoshop</li>
														<li>Audacity</li>
													</ul>
												</p>
											</div>
{% endblock %}