{% extends 'base.html.twig' %}

{% block title %}Stanislas Raczynski{% endblock %}

{% block body %}
<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				<!-- Note: The "styleN" class below should match that of the banner element. -->
					<header id="header" class="alt style2">
						<a href="{{path("index")}}" class="logo"><strong>Miroslav</strong> <span>Web Dev</span></a>
						
					</header>

		
				<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
					<section id="banner" class="style2">
						<div class="inner">
							<span class="image">
								<img src="images/pic07.jpg" alt="" />
							</span>
							<header class="major">
								<h1>Palmarès Sportif</h1>
							</header>
							<div class="content">
								<h4>Nageur au Cercle des Nageurs Melun Val de Seine et Emmanuel College aux USA<br/>Résultats en natation compétitive et eau libre</h4>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h2>Championnats de France Elite</h2>
									</header>
									<p>Qualifié aux Championnats de France Elite en grand bassin : 2014/2015/2016<br>Qualifié aux Championnats de France Elite en petit bassin : 2013/2016/2017/2018<p>
								</div>
							</section>

						<!-- Two -->
							<section id="two" class="spotlights">
								<section>
									<a href="generic.html" class="image">
										<img src="{{asset("images/open-water-swimmer.jpg")}}" alt="" data-position="center center" style="opacity:0.9" />
									</a>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3>Champion universitaires des USA d'eau libre 2016</h3>
											</header>
											<p>Vainqueur de la première édition des Championnats universitaire d'eau libre sur l'épreuve du 5km en eau libre. Lone Star Lake, Kansas, USA </p>
											<ul class="actions">
												<li><a href="https://eu.usatoday.com/story/college/2016/09/23/these-college-swimmers-compete-in-open-water-not-in-a-pool/37421895/" target="_blank" class="button">Article USA Today</a></li>
											</ul>
										</div>
									</div>
								</section>
								<section>
									<a href="generic.html" class="image">
										<img src="images/pic09.jpg" alt="" data-position="top center" />
									</a>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3>Critérium National Promotionnel d'Eté</h3>
											</header>
											<p>Vainqueur 1.500 nage libre et 800 nage libre, argent 400 nage libre, Saint Yrieix 2017<br>Vainqueur 800 nage libre, argent 400 nage libre, Rennes 2018</p>
											
										</div>
									</div>
								</section>
								<section>
									<a href="generic.html" class="image">
										<img src="images/pic10.jpg" alt="" data-position="25% 25%" />
									</a>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3>Student Athlete Emmanuel College Lions</h3>
											</header>
											<p>Conference Championship :</p>
											<ul>
												<li>Appalachian Conference</li>
													<li style="margin-left:3vw">Champion 500 yards, 1.650 yards 2016</li>
													<li style="margin-left:3vw">Champion  1.000 yards, 1.650 yards 2017</li>
												<li>Sun Coast Conference</li>
													<li style="margin-left:3vw">Champion 1.650 yards 2018</li>
													<li>Carolinas Conference</li>
												<li style="margin-left:3vw">Champion  1.000 yards, 1.650 yards 2019</li>
											</ul>
										</div>
									</div>
								</section>
							</section>

						<!-- Three -->
							<section id="three">
								<div class="inner">
									<header class="major">
										<h2>Massa libero</h2>
									</header>
									<p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus amet pharetra et feugiat tempus.</p>
									<ul class="actions">
										<li><a href="generic.html" class="button next">Get Started</a></li>
									</ul>
								</div>
							</section>

					</div>

				<!-- Contact -->
					<section id="contact">
						<div class="inner">
							<section>
								<form method="post" action="#">
									<div class="fields">
										<div class="field half">
											<label for="name">Name</label>
											<input type="text" name="name" id="name" />
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input type="text" name="email" id="email" />
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea name="message" id="message" rows="6"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send Message" class="primary" /></li>
										<li><input type="reset" value="Clear" /></li>
									</ul>
								</form>
							</section>
							<section class="split">
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-envelope"></span>
										<h3>Email</h3>
										<a href="#">information@untitled.tld</a>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-phone"></span>
										<h3>Phone</h3>
										<span>(000) 000-0000 x12387</span>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-home"></span>
										<h3>Address</h3>
										<span>1234 Somewhere Road #5432<br />
										Nashville, TN 00000<br />
										United States of America</span>
									</div>
								</section>
							</section>
						</div>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; Untitled</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

{% endblock %}
